@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}



 /* Header */
.header {
    width: calc(100% - 340px);
    height: 70px;
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    display: inline-flex;
    position: absolute;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 20px;
    align-items: center;
    padding-right: 30px;
    gap: 30px;
    color: #7B809A;
} 

.profile-img {
    width: 40px;
    height: 40px;
    background-color: aqua;
    border-radius: 50%;
}

.img-div {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* Navbar */

.nav-container {
    background-image: linear-gradient(#404048, #1C1C1D);
    width: 250px;
    height: 95vh;
    margin: 30px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}  

.nav-item-active {
    background-image: linear-gradient(#3E98EF, #2A83EB);
    width: 80%;  
    text-align: start;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    word-spacing: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.nav-item {
    width: 80%; 
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: start;
    word-spacing: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.nav-item:hover {
    background-color: #5D5D61;
    cursor: pointer;
}

.product-name {
    padding: 30px;
    color: #fff;
}

hr {
    opacity: .5;
    width: 80%;
    border-radius: 100%;
    margin-bottom: 20px;
}

/* Dashboard */

.dashboard-container, .appointment-container, .patients-container, .planner-container, .records-container, .accounts-container{
    width: calc(100% - 340px);
    height: 100vh;
    display: inline;
    position: absolute;
    top: 100px;
}

.dashboard-div-1, .dashboard-div-2 {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
 
}
 

.dashboard-div-item {
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 20px;
    flex: 1 1 0px;
    justify-content: space-between;
    position: relative;
    border-radius: 8px;
}

.dashboard-div-item h2 {
    padding-top: 20px;
    text-align: end;
    font-size: 2rem;
}

.dashboard-div-item p {
    color: #7B809A;
}

.icon {
    height: 60px;
    width: 60px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    top: -30px;
    font-size: 20px;
    color: #fff;
}

.icon1 {
    background-image: linear-gradient(#404048, #1C1C1D);
}

.icon2 {
    background-image: linear-gradient(#3E98EF, #2A83EB);
}

.icon3 {
  
    background-image: linear-gradient(#5EB562, #49A44D);
}
.icon4 {
    background-image: linear-gradient(#E93A76, #DC2265);
}

.dashboard-div2 {
    display: block;
}

table {
    width: 100%;
}

.table-second-ele {
    position: relative;
    right: 0%;
}
th, td {
    padding: 5px;
    font-weight: bold;
    color: #1C1C1D;
}

.table-th {
    color: #7B809A ;
}