@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}



 /* Header */
.header {
    width: calc(100% - 340px);
    height: 70px;
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    display: inline-flex;
    position: fixed;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 20px;
    align-items: center;
    padding-right: 30px;
    gap: 30px;
    color: #7B809A;
    font-family: 'Roboto', sans-serif;
    z-index: 9;
    right: 0%; 

} 

.header-left {
    padding-left: 10px;
}

.header-left p {
    font-size: .8rem;
    word-spacing: 10px;
}

.header-left h3 {
    font-size: 1rem;
}

.header-right {
    display: flex;
    align-items: center;
    padding-right: 30px;
    gap: 30px;
}

.profile-img {
    width: 40px;
    height: 40px;
    background-color: rgb(63, 63, 63);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* Navbar */

.nav-container {
    background-image: linear-gradient(#404048, #1C1C1D);
    width: 250px;
    height: 95vh;
    margin: 30px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0%;
    
}  

.nav-item-active {
    background-image: linear-gradient(#3E98EF, #2A83EB);
    width: 80%;  
    text-align: start;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    word-spacing: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.nav-item {
    width: 80%; 
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: start;
    word-spacing: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.nav-item:hover {
    background-color: #5D5D61;
    cursor: pointer;
}

.product-name {
    padding: 30px;
    color: #fff;
}

hr {
    opacity: .5;
    width: 80%;
    border-radius: 100%;
    margin-bottom: 20px;
}

/* Dashboard */

.dashboard-container, .appointment-container, .patients-container, .planner-container, .records-container, .accounts-container{
    width: calc(100% - 340px);
    height: 100vh;
    display: inline;
    position: absolute;
    top: 100px;
    right: 0%;
    margin-right: 30px;
}

.dashboard-div-1, .dashboard-div-2 {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
 
}
 

.dashboard-div-item {
    display: flex;
    align-items: center;
    flex: 1 1 0px;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.dashboard-div-item h2 {
    padding-top: 20px;
    text-align: end;
    font-size: 2rem;
}

.dashboard-div-item p {
    color: #7B809A;
}

.icon {
    height: 60px;
    width: 60px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    top: -30px;
    font-size: 20px;
    color: #fff;
}

.icon1 {
    background-image: linear-gradient(#404048, #1C1C1D);
}

.icon2 {
    background-image: linear-gradient(#3E98EF, #2A83EB);
}

.icon3 {
  
    background-image: linear-gradient(#5EB562, #49A44D);
}
.icon4 {
    background-image: linear-gradient(#E93A76, #DC2265);
}

.dashboard-div2 {
    display: block;
}

table {
    width: 100%;
}

.table-second-ele {
    position: relative;
    right: 0%;
}
th, td {
    padding: 5px;
    font-weight: bold;
    color: #1C1C1D;
}

.table-th {
    color: #7B809A ;
}


.dashboard-div-3 {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: #1C1C1D;
}

.treatment-table-data{
     text-align: center;
}
.treatment-col {
    text-align: left;
}

.treatment-info-header, .hospital-info-header {
    padding-bottom: 20px;
    font-weight: bold;
    color: #7B809A ;
}

.table-tr:nth-child(even) {
    background-color: #f2f2f2;
    margin-top: 20px;
}

th {
    background-image: linear-gradient(#5EB562, #49A44D);
    color: white;
}

.table-card-2 {
    width: 30%;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: #1C1C1D;
}

.hospital-info {
    display: inline-flex;
    padding: 20px;
    align-items: center;
    font-weight: bold;
    color: #1C1C1D;
}

.hospital-info div {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(#3E98EF, #2A83EB);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    font-weight: bold;
}

.div-3 {
    display: flex;
    gap: 30px;
}

/* Appointment  */

.appointment-nav-inner h3, .new-btn-appointment {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #7B809A;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10rem;
  will-change: transform;
}

.appointment-nav-inner h3:disabled {
  pointer-events: none;
}

.appointment-nav-inner h3:hover {
  color: #fff;
  background-image: linear-gradient(#404048, #1C1C1D);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.appointment-nav-inner h3:active {
  box-shadow: none;
  transform: translateY(0);
}

.new-btn-appointment {
    font-weight: bold;
    background-image: linear-gradient(#E93A76, #DC2265);
    color: #fff;
}

.new-btn-appointment:hover {
    background-image: linear-gradient(#404048, #1C1C1D);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.appointment-nav-inner   {
    display: flex;
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;
}


.appointment-nav {
    margin-top: 20px;
    position: fixed;
    width: calc(100% - 340px);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.appointment-nav-outer hr {
    width: 100%;
    margin-top: 20px;
}

.appointment-nav-outer {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 9;
}

.appointment-nav-item {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    padding: 20px;
    border-radius: 8px;
}

.appointment-tables, .patient-info {
    height: fit-content;
    position: relative;
    top: 20%;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    color: #1C1C1D;
    text-align: center;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
    margin-top: 20px;
}

table, th, tr, td {
    padding: 10px;
}

.form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 1px 10px 15px rgba(90, 14, 212, 0.322);
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    padding: 30px;
    /* background-image: url('./assets/form\ background.png'); */
    object-fit: scale-down;
}

.form-row {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
}

.appointment-booking {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
    
    
}

.form-row-5 {
    justify-content: flex-end;
}

.form-checkbox {
    text-align: start;
    justify-content: center;
    align-items: center;
}

.form-checkbox div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
}

.whatsapp-icon {
    color: linear-gradient(#404048, #1C1C1D);
    font-size: 40px;
    border-radius: 5px;
}

.email-icon {
    color: linear-gradient(#404048, #1C1C1D);
    font-size: 40px;
    border-radius: 5px;
}

.input-container{
	position:relative;
	margin-bottom:25px;
    display: flex;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#7B809A;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #7B809A;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#7B809A;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
 
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}

input:hover {
    cursor: pointer;
}

select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 15rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: #7B809A;
    border-radius: 0.25em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
      background-color: var(--option-bg);
    }
  }
  
  [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

.submit-btn, .reset-btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(#5EB562, #49A44D);
    font-family: 'Roboto', sans-serif;
    border: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.submit-btn:hover, .reset-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  cursor: pointer;
}

.reset-btn {
    background-image: linear-gradient(#e76262, #da1414);
}